* {
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-inline-start: 0;
}

nav {
    height: 60px;
}

ul {
    display: none;
}


.menu:hover ul {
    display: block;
}

ul li {
    width: 150px;
    height: 20px;
    list-style-type: none;
    padding: 10px;
    background-color: #f5eeee;
    margin-top: 1px;
}

ul li:hover {
    background-color: #D6D6D6;
}

header {
    height: 60px;
    position: fixed;
    padding: 10px;
    background-color: rgb(92, 59, 18);
    width: 100%;
}

.menu {
    /* display: inline-block; */
    float: left;
    width: 160px;
    padding: 10px;
    height: 20px;
}

.menu>a {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    color: white;
}

.menu>a:after {
    content: '';
    position: absolute;
    top: 7px;
    margin-left: 5px;
    border-top: 9px solid white;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}