body {
    margin: 0;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.section {
    padding: 10px;
}

.main-header {
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.main-header h2 {
    margin: 0;
}

.box {
    width: 30%;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    background-color: #f4f3f3;
}

.box>header {
    text-align: center;
}